* {
    font-family: Areal;   
}


.popup_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup_content{
    position: absolute;
    max-width: 330px;
    max-height: 120px;
    top: 0;
    right: 0;
   
    left: 0;
    margin: auto;
}

.popup_content form{
    display: flex;
}
.no-scroll {
    overflow-y: hidden;
}


#hide{
    position: relative;
    left: 195px;
}

#onSubmit{
    display: block;
}

.privacy_policy{
    display: flex;
}
.text_priv_pol{
    color: darkturquoise;
}
#close_bt{
    max-width: 15px;
}

