*,
::before,
::after {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
}

.wraper{
  max-width: 1024px;
  margin: 0 auto;
}
.slider-container{
  overflow: hidden;
}
.slider-track{
  display: flex;
  transition: .2s;
}
.slider-items img{
  max-width: 256px;
  
}
.slider-button{
  text-align: center;
}
